.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;

}

.main div.compy {
  padding: 40px;
  margin: 40px;
  border : 1px solid #eaeaea;
}
